<!-- Toolbar -->
<header>
  <div class="lead text-center my-2" role="banner">
    <span class="border border-primary rounded-sm p-2">
      This is a demonstration of an export service that exports data to excel, csv in Angular 10
    </span>
  </div>
</header>

<div class="container-fluid pt-3" role="main">
  <div>
    <ul class="list-group list-group-horizontal list-group-flush">
      <li class="list-group-item border-0 pl-0">
        <button class="btn btn-sm font-weight-bold btn-link" (click)="exportElmToExcel()">
          <i class="fa fa-external-link"></i>
          Export To Excel (Element Ref)
        </button>
      </li>
      <li class="list-group-item border-0">
        <button class="btn btn-sm font-weight-bold btn-link" (click)="exportToExcel()">
          <i class="fa fa-external-link"></i>
          Export to Excel
        </button>
      </li>
      <li class="list-group-item border-0">
        <button class="btn btn-sm font-weight-bold btn-link" (click)="exportToCsv()">
          <i class="fa fa-external-link"></i>
          Export to CSV
        </button>
      </li>
    </ul>
  </div>
  <div class="card">
    <div class="card-header">
      User Data
    </div>
    <div class="card-body">
      <table class="table table-sm" #userTable>
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.handle }}</td>
          </tr>
          <tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Footer -->
  <footer>
  </footer>

</div>